h1, h2, h3, h4, h5, h6, span, p, div {
  font-family: "Gilroy Light", 'DINPro-Medium', serif;
}

.navbar
{
  top: -70px;
  animation: navbarSlide 2s 3s 1 ease forwards;
}

.banner {
  height: 100vh;
  width: 100%;
  background: url("../assets/givingheart1wider.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
#whiteFade
{
  background: var(--main-blue);
  height: 100vh;
  width: 100%;
  animation: whiteFade 3s 3s 1 ease forwards;
}

.nav-link {
  border-radius: 10px;
  font-size: max(1vw, 2.5vh);
}

li .nav-link:hover {
  background-color: #99091a;
}

li .nav-link:active {
  background-color: #e60e27;
  transition: all 0.05s;
}

#FindOutMore {
  background-color: var(--main-red);
  padding: 10px 15px;
  width: max-content;
  border-radius: 25px;
  opacity: 0;
  color: white;
  font-size: clamp(10px, 3vw, 20px);
  display: block;
  transition: .5s;
}

#FindOutMore:hover {
  background-color: white;
  color: var(--main-red);
  font-weight: bold;
  margin-left: 10px;
  transition: .5s;
}

.doNationMain {
  opacity: 0;
  font-weight: bolder;
  font-size: clamp(40px, 8vw, 150px);
  text-shadow: 1px 1px 2px black;
}

#doNationContainer {
  margin-top: clamp(30px, 25vh, 50vw);
}

#InfoMainPage {
  opacity: 0;
  color: white;
  font-weight: bold;
  font-size: clamp(15px, 1.5vw, 35px);
  text-shadow: 1px 1px 2px black;
}

.Header {
  font-size: clamp(50px, 8.5vw, 80px);
  font-weight: bold;
}

.AfterHeader {
  font-size: clamp(10px, 5vw, 30px);
}

#AboutUsNumbers {
  font-size: clamp(20px, 6vw, 30px);
  background: var(--main-blue);
  padding: 20px 20px;
  margin-right: 0;
}

.BloodBanks {
  background: var(--main-red); height: 100%;
  border-style: solid;
  border-left: black;
  border-right: black;
}

/*ALL BLOODBANKS*/
#BB1 {
  height: 40%;
  background-color: #f3eaea;
}

#BB2 {
  height: 70%;
  background-color: #f3eaea;
}

#BB3 {
  height: 40%;
  background-color: #f3eaea;
}

#BB4 {
  height: 60%;
  background-color: #f3eaea;
}

#BB5 {
  height: 30%;
  background-color: #f3eaea;
}

#BB6 {
  height: 20%;
  background-color: #f3eaea;
}

#BB7 {
  height: 50%;
  background-color: #f3eaea;
}

#BB8 {
  height: 80%;
  background-color: #f3eaea;
}

.BloodBanksInner
{
  transform: scaleY(0);
  transform-origin: top;
}
.BloodBanksInnerVisible
{
  transform: scaleY(1);
  transition: 2s;
}

/*ALL BLOODBANKS*/


.BloodBanks2Container {
  width: clamp(80px, 8vw, 100px);
  height: 200px;
  margin: 5px;
  margin-bottom: 25px;
}

.BloodTypetext {
  font-size: clamp(15px, 2vw, 20px);
}

.City {
  color: var(--main-red);
  font-size: clamp(10px, 5vw, 30px);
  font-weight: bold;
}

#PolandMap {
  width: 25vw;
  height: 25vw;
  vertical-align: middle;
}

#MapContainer {
  padding-top: 4vw;
  /*background: url("https://media.istockphoto.com/photos/heart-in-the-hands-of-a-doctor-on-a-colored-banner-background-picture-id1329468338?s=2048x2048");*/
  /*background-size: cover;*/
  /*background-position: right;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  background: var(--main-blue);
  width: 100%;
  padding-bottom: 4vw;
}
.BelowCity
{
  font-size: clamp(8px, 4vw, 16px);
}
#SmallerMapContainer
{
  margin: auto;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.fadeIn
{
  animation: FadeIn 3s .5s 1 ease forwards;
}
.fadeIn2
{
  animation: FadeIn 4s 1.5s 1 ease forwards;
}

@media (max-width: 800px) {
  #AboutUsNumbers
  {
    background: url("../assets/bg1.png");
    background-position: right;
  }

  .banner {
    background: url("../assets/givingheart1.jpg");
    background-position: center;
    background-size: cover;
  }

  #CitiesColumn {
    text-align: center;
  }

  #PolandMap {
    width: 70vw;
    height: 70vw;
  }

  #MapContainer
  {
    background-size: 500%;
    background-position: right;
  }
  #SmallerMapContainer
  {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}

@keyframes navbarSlide {
  0%
  {
    top: -70px;
  }
  100%
  {
    top: 0px;
  }
}
@keyframes FadeIn {
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes whiteFade {
  0%
  {
    background: var(--main-blue);
  }
  100%
  {
    background: rgba(0,0,0,0%);
  }
}
