h1, h2, h3, h4, h5, h6, span, p, div
{
  font-family: "Gilroy Light", 'DINPro-Medium', serif;
}

.navbar
{
  top: -70px;
  animation: navbarSlide 2s 3s 1 ease forwards;
}

.banner
{
  height: 100vh;
  width: 100%;
  background: url("../assets/givingheart1wider.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
#naviHome
{
  color: white;
  font-weight: bold;
  margin-left: 10px;
  font-size: clamp(10px, 3vw, 20px);
  border-radius: 10px;
}
#naviHome:hover
{
  background-color: #99091a;
}

#whiteFade
{
  background: var(--main-blue);
  height: 100vh;
  width: 100%;
  animation: whiteFade 3s 3s 1 ease forwards;
}

li .nav-link
{
  border-radius: 10px;
  font-size: clamp(10px, 3vw, 20px);
}

li .nav-link:hover
{
  background-color: #99091a;
}

.nav-link:active
{
  background-color: #e60e27;
  transition: all 0.05s;
}

#FindOutMore
{
  background-color: var(--main-red);
  padding: 10px 15px;
  width: max-content;
  border-radius: 25px;
  opacity: 0;
  color: white;
  font-size: clamp(10px, 3vw, 20px);
  display: block;
  transition: .5s;
}

#FindOutMore:hover
{
  background-color: white;
  color: var(--main-red);
  font-weight: bold;
  margin-left: 10px;
  transition: .5s;
}

.doNationMain
{
  opacity: 0;
  font-weight: bolder;
  font-size: clamp(40px, 8vw, 150px);
  text-shadow: 1px 1px 2px black;
}

#doNationContainer
{
  margin-top: clamp(30px, 25vh, 50vw);
}

#InfoMainPage
{
  opacity: 0;
  color: white;
  font-weight: bold;
  font-size: clamp(15px, 1.5vw, 35px);
  text-shadow: 1px 1px 2px black;
}

.Header
{
  font-size: clamp(50px, 8.5vw, 80px);
  font-weight: bold;
}

.AfterHeader
{
  display: block;
  padding: 0 15vw;
  font-size: clamp(10px, 5vw, 25px);
}

#AboutUsNumbers
{
  font-size: clamp(20px, 6vw, 30px);
  background: var(--main-blue);
  padding: 20px 20px;
  margin-right: 0;
}

.numbers
{
  font-size: clamp(30px, 6vw, 40px);
  color: var(--main-red);
  text-shadow: none;
  font-weight: bolder;
}

.BloodBanks
{
  background: var(--main-red);
  height: 100%;
  border-style: solid;
  border-left: black;
  border-right: black;
}

/*ALL BLOODBANKS*/
#BB1
{
  height: 40%;
  background-color: #f3eaea;
}

#BB2
{
  height: 70%;
  background-color: #f3eaea;
}

#BB3
{
  height: 40%;
  background-color: #f3eaea;
}

#BB4
{
  height: 60%;
  background-color: #f3eaea;
}

#BB5
{
  height: 30%;
  background-color: #f3eaea;
}

#BB6
{
  height: 20%;
  background-color: #f3eaea;
}

#BB7
{
  height: 50%;
  background-color: #f3eaea;
}

#BB8
{
  height: 80%;
  background-color: #f3eaea;
}

.BloodBanksInner
{
  transform: scaleY(0);
  transform-origin: top;
}

.BloodBanksInnerVisible
{
  transform: scaleY(1);
  transition: 2s;
}

/*ALL BLOODBANKS*/


.BloodBanks2Container
{
  width: clamp(80px, 8vw, 100px);
  height: 200px;
  margin: 5px;
  margin-bottom: 25px;
}

.BloodTypetext
{
  font-size: clamp(15px, 2vw, 20px);
}

.City
{
  color: var(--main-red);
  font-size: clamp(10px, 5vw, 30px);
  font-weight: bold;
}

#PolandMap
{
  width: 100%;
  vertical-align: middle;
}

#MapContainer
{
  padding-top: 4vw;
  /*background: url("https://media.istockphoto.com/photos/heart-in-the-hands-of-a-doctor-on-a-colored-banner-background-picture-id1329468338?s=2048x2048");*/
  /*background-size: cover;*/
  /*background-position: right;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  background: var(--main-blue);
  width: 100%;
  padding-bottom: 4vw;
}

.BelowCity
{
  font-size: clamp(8px, 4vw, 20px);
  text-shadow: 1px 1px 2px black;
}

#SmallerMapContainer
{
  margin: auto;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fadeIn
{
  animation: FadeIn 3s .5s 1 ease forwards;
}

.fadeIn2
{
  animation: FadeIn 4s 1.5s 1 ease forwards;
}

.mainCategory
{
  color: var(--main-red);
  font-size: clamp(20px, 6vw, 50px);
  font-weight: bold;
  display: block;
  margin-bottom: 3vh;
}

.Category
{
  text-align: left;
  color: black;
  font-size: clamp(20px, 5vw, 40px);
  font-weight: bold;
}

.reqBox
{
  border-style: solid;
  border-color: white white var(--main-red) white;
  margin: 10px 0;
}

.Description
{
  font-size: clamp(10px, 3vw, 20px);
  text-align: left;
}

.inputCategory
{
  font-size: clamp(10px, 3vw, 20px);
  font-weight: bold;
  display: block;
  padding: 4px;
  margin-top: 10px;
}

.inputBox
{
  padding: 5px;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: #e2f6ff;
}

#submitButton
{
  margin: auto;
  width: 30%;
  text-align: center;
  margin-top: 20px;
  font-size: clamp(10px, 4vw, 20px);
  font-weight: bold;
  background-color: var(--main-red);
  border-width: 0;
  border-radius: 15px;
  padding: 20px 0;
  color: white;
  transition: .2s;
}
#submitButton:hover
{
  transition: .2s;
  box-shadow: #d91c38 2px 0px 30px;
}

#formContainer
{
  margin: 0 20%;
  background: white;
  padding: 2% 5%;
  border-radius: 15px;
}
.inputRadio
{
  margin-right: 2px;
}
.inputRadioLabel
{
  margin-right: 15px;
}
#formBirth, #formDate
{
  cursor: text;
}
.contact
{
  margin: auto;
  text-align: center;
  font-size: clamp(10px, 3vw, 20px);
  color: white;
}


@media (max-width: 800px)
{
  .afternumbers
  {
    display: block;
    margin-bottom: 30px;
  }

  .nav-link
  {
    border-radius: 10px;
    font-size: clamp(10px, 4vw, 20px);
  }
  .banner
  {
    background: url("../assets/givingheart1.jpg");
    background-position: left;
    background-size: cover;
    animation: bgSlide 2s 3s 1 ease forwards;
  }
  #whiteFade
  {
    background: rgba(0, 0, 0, 0%);
    animation: none;
  }
  .doNationMain
  {
    opacity: 0;
    font-weight: bolder;
    font-size: clamp(40px, 13vw, 200px);
    text-shadow: 1px 1px 2px black;
  }
  #doNationContainer
  {
    margin-top: clamp(30px, 20vh, 50vw);
  }
  #CitiesColumn
  {
    text-align: center;
  }

  #PolandMap
  {
    width: 90vw;
  }

  #MapContainer
  {
    background-size: 500%;
    background-position: right;
  }

  #SmallerMapContainer
  {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  #formContainer
  {
    margin: 0 5%;
  }
  #submitButton
  {
    width: 70%;
    margin-bottom: 20px;
  }
  @keyframes bgSlide
  {
    0%
    {
      background-position: left;
    }
    100%
    {
      background-position: center;
    }
  }
}

@keyframes navbarSlide
{
  0%
  {
    top: -70px;
  }
  100%
  {
    top: 0px;
  }
}

@keyframes FadeIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

@keyframes whiteFade
{
  0%
  {
    background: var(--main-blue);
  }
  100%
  {
    background: rgba(0, 0, 0, 0%);
  }
}
