<style>
  h1, h2, h3, h4, h5, h6, span, p {
    font-family: "Gilroy Light", 'DINPro-Medium', serif;
  }

  .banner {
    height: 100vh;
    width: 100%;
    background: url("assets/wwwblood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

</style>
<!---->
<!--HEADER-->
<!---->
<nav class="navbar navbar-expand-lg fixed-top" style="background: #d10d25">
  <div class="container offset-2" style="margin-right: 16.6666667%">
    <a class="navbar-brand">
      <img src="assets/blood_iconvanilla.png" alt="" style="height: 30px">
      <a class="nav-link d-inline" style="color: white; font-weight: bold; margin-left: 10px" href="#mainPage">doNation</a>
    </a>

    <div class="navbar-collapse">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white; font-weight: bold" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" aria-current="page" href="#">Requirements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" aria-current="page" href="#">When?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white" aria-current="page" href="#">Where?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!---->
<!--MAIN PAGE-->
<!---->
<div class="container-fluid banner" id="mainPage">
  <div class="row offset-2">
    <div class="col-5">
      <div style="margin-top: 45%"></div>
      <span style="color:white; font-weight: bolder; font-size: 120px">do<span
        style="color: #d10d25">Nation</span></span><br>
      <span style="color: white; font-weight: bold; font-size: 20px">Blood is a cure, that cannot be created like the medicine we know, thus our site unites people who are eager to help, to make sure that no one will run short of it when it's needed.</span><br><br><br>
      <span style="color: white;  font-size: 20px">Find out more ↓</span>
    </div>
  </div>
</div>
<!---->
<!--ABOUT US-->
<!---->
<br><br><br><br>
<div class="text-center container">
  <span style="font-size: 90px; font-weight: bold">About us</span><br>
  <span style="font-size: 30px">We are a non-profit organization that provides blood donating service in cities across the Poland.</span>
</div>
